body {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
}

.app-components {
  margin: auto;
  background-color: #fafafa !important;

  &.ant-layout {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: transparent;

    * {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
  }
}
